@charset "utf-8";
//弹出层css3动画效果
@-webkit-keyframes scalein{
  0%{
    opacity: 0;
    -webkit-transform: scale(.5);
    transform: scale(.5)
  }
  100%{
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}
@keyframes scalein{
  0%{
    opacity: 0;
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5)
  }
  100%{
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
  }
}
.layer-anim-1{ -webkit-animation-name: scalein; animation-name: scalein }
@-webkit-keyframes zoomInDown{
  0%{
    opacity: 0;
    -webkit-transform: scale(.1) translateY(-2000px);
    transform: scale(.1) translateY(-2000px);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out
  }
  60%{
    opacity: 1;
    -webkit-transform: scale(.475) translateY(60px);
    transform: scale(.475) translateY(60px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }
}
@keyframes zoomInDown{
  0%{
    opacity: 0;
    -webkit-transform: scale(.1) translateY(-2000px);
    -ms-transform: scale(.1) translateY(-2000px);
    transform: scale(.1) translateY(-2000px);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out
  }
  60%{
    opacity: 1;
    -webkit-transform: scale(.475) translateY(60px);
    -ms-transform: scale(.475) translateY(60px);
    transform: scale(.475) translateY(60px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }
}
.layer-anim-2{ -webkit-animation-name: zoomInDown; animation-name: zoomInDown }
@-webkit-keyframes fadeInUpBig{
  0%{
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px)
  }
  100%{
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
@keyframes fadeInUpBig{
  0%{
    opacity: 0;
    -webkit-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    transform: translateY(2000px)
  }
  100%{
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
  }
}
.layer-anim-3{ -webkit-animation-name: fadeInUpBig; animation-name: fadeInUpBig }
@-webkit-keyframes zoomInLeft{
  0%{
    opacity: 0;
    -webkit-transform: scale(.1) translateX(-2000px);
    transform: scale(.1) translateX(-2000px);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out
  }
  60%{
    opacity: 1;
    -webkit-transform: scale(.475) translateX(48px);
    transform: scale(.475) translateX(48px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }
}
@keyframes zoomInLeft{
  0%{
    opacity: 0;
    -webkit-transform: scale(.1) translateX(-2000px);
    -ms-transform: scale(.1) translateX(-2000px);
    transform: scale(.1) translateX(-2000px);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out
  }
  60%{
    opacity: 1;
    -webkit-transform: scale(.475) translateX(48px);
    -ms-transform: scale(.475) translateX(48px);
    transform: scale(.475) translateX(48px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }
}
.layer-anim-4{ -webkit-animation-name: zoomInLeft; animation-name: zoomInLeft }
@-webkit-keyframes rollIn{
  0%{
    opacity: 0;
    -webkit-transform: translateX(-100%) rotate(-120deg);
    transform: translateX(-100%) rotate(-120deg)
  }
  100%{
    opacity: 1;
    -webkit-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0)
  }
}
@keyframes rollIn{
  0%{
    opacity: 0;
    -webkit-transform: translateX(-100%) rotate(-120deg);
    -ms-transform: translateX(-100%) rotate(-120deg);
    transform: translateX(-100%) rotate(-120deg)
  }
  100%{
    opacity: 1;
    -webkit-transform: translateX(0) rotate(0);
    -ms-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0)
  }
}
.layer-anim-5{ -webkit-animation-name: rollIn; animation-name: rollIn }
@-webkit-keyframes fadein{
  0%{
    opacity: 0;
    -webkit-transform: scale(0) rotate(720deg);
    transform: scale(0) rotate(720deg);
  }
  100%{
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
}
@keyframes scalerotate{
  0%{
    opacity: 0;
    -webkit-transform: scale(0) rotate(720deg);
    -moz-transform: scale(0) rotate(720deg);
    -ms-transform: scale(0) rotate(720deg);
    transform: scale(0) rotate(720deg);
  }
  100%{
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
}
.layer-anim-6{ -webkit-animation-name: scalerotate; animation-name: scalerotate }
@-webkit-keyframes shake{
  0%, 100%{
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  10%, 30%, 50%, 70%, 90%{
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px)
  }
  20%, 40%, 60%, 80%{
    -webkit-transform: translateX(10px);
    transform: translateX(10px)
  }
}
@keyframes shake{
  0%, 100%{
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
  }
  10%, 30%, 50%, 70%, 90%{
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px)
  }
  20%, 40%, 60%, 80%{
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px)
  }
}
.layer-anim-7{ -webkit-animation-name: shake; animation-name: shake }
@-webkit-keyframes anim8{
  0%{
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  100%{
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes anim8{
  0%{
    opacity: 0;
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  }
  100%{
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.layer-anim-8{ -webkit-animation-name: anim8; animation-name: anim8 }