@charset "utf-8";
@import "_config";
.ucs-tag{
  background: #f7f7f7;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  margin-right: 4px;
  overflow: hidden;
  padding: 0 8px;
  transition: all 0.3s;
  vertical-align: middle;
  color: #fff;
  &:hover{
    opacity: .8;
  }
}
/*两个示例颜色*/
.ucs-tag-f50{ border-color: #f50; background-color: #f50; }
.ucs-tag-87d068{ border-color: #87d068; background-color: #87d068; }
.ucs-tag-108ee9{ border-color: #108ee9; background-color: #108ee9; }